<div class="container">
  <h1 class="fw-bold">マイタスク</h1>
  <%= link_to "New Task", new_task_path, class:"btn btn-outline-dark" %>
  <div class="row row-col">
    <% @mytasks.each do |mytask| %>
    <div class="d-flex flex-column col-xs-1 col-lg-6">
      <%= render mytask %>
    </div>
    <% end %>
  </div>
</div>