<div class="container">
  <h1 class="fw-bold">タスク一覧</h1>
  <div class="row row-col">
    <% @tasks.each do |task| %>
    <div class="d-flex flex-column col-xs-1 col-lg-6">
      <%= render task %>
    </div>
    <% end %>
  </div>
</div>