@import "~bootstrap/scss/bootstrap";

.p-within-deadline {
  background-color: green;
  color: white;
  padding: 1rem;
}

.p-over-deadline {
  background-color: red;
  color: white;
  padding: 1rem;
}

.border-within-deadline {
  border: 1px solid green;
  border-radius: 4px;
}

.border-over-deadline {
  border: 1px solid red;
  border-radius: 4px;
}