<header class="header">
<nav class="d-flex justify-content-between bg-dark  align-items-center">
  <div class="d-flex">
    <p><%= link_to "Home", root_path,class:"item"%></p>
    <p class="text-success">fjaijfa</p>
  </div>
  <div class="d-flex  align-items-center">
     <% if user_signed_in? %>
      <p><%= link_to "logout", destroy_user_session_path, method: :delete,class:"item" %></p>
     <% else %>
      <p><%= link_to "login", new_user_session_path, class:"item" %></p>
     <% end %>
  </div>
</nav>
</header>